<!DOCTYPE html>
<html>
    <head>
      <title>BizRoller</title>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>


          <script type="text/javascript">

              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-29114050-3']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

          </script>
    </head>
    <body>
        <header>
        <header class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
          <a> <%= link_to (image_tag("bizrollerV45webheadermenuII.png", :class=>"brand")), root_path %></a>

              <nav>
                <ul class="nav pull-right">
                    <li><%= link_to "Home", root_path %></li>
                    <% if user_signed_in? %>
                        <!-- Logged in as <strong><%= current_user.email %></strong>. -->
                        <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
                    <% else %>
                        <li><%= link_to "Sign In", new_user_session_path %></li>
                        <li><%= link_to (image_tag("signin_with_linkedin.png", :id=>"linkedin_button")), user_omniauth_authorize_path(:linkedin) %></li>
                    <% end %>
                    <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                    <li><%= link_to "About", about_path %></li>
                    <li><%= link_to "Contact", contact_path %></li>
                </ul>
              </nav>
            </div>
          </div>
        </header>
        <div class="container">
            <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "alert alert-#{key}") %>
            <% end %>
            <%= yield %>
        </div>
    </body>
</html>